html {
  box-sizing: border-box;
  border: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
  border: 0;
}

html {
  background: #fff;
  color: #000;
  font-size: 110%;

  width: 100%;
  height: 100%;
}

header *,
main *,
aside *,
footer * {
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;

  width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: grid;
  overflow: hidden auto;
}
body.index {
  max-width: 1000px;
  grid-template:
    "header header"   min-content
    "main   aside"    auto
    "footer footer"   min-content
    / auto min-content;
}
body.index > main > :first-child {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}
body.post {
  max-width: 800px;
  grid-template:
    "header"   min-content
    "main"     auto
    "footer"   min-content
    / 100%;
}

header {
  grid-area: header;
  margin: 0 0 1rem 0;
}
header > :first-child {
  background: #98ddfc;
  color: #fff;
  font-size: 4.5rem;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  overflow-wrap: anywhere;

  margin: 0 0 1rem 0;
  display: inline-block;
}

main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
  margin: 1rem 0 0 0;
}

article {
  font-size: 110%;
  font-family: medium-content-serif-font, serif;
  font-weight: 100;
  color: #1e1e1e;
}
article strong {
  font-weight: 900;
}
article code {
  position: relative;
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
}

ul.post-list {
  font-size: 110%;
}
ul.post-list > li {
  list-style: none;
  border: solid 2px blue;
  margin: 0 0 1rem 0;
  padding: 2px;
  display: inline-block;
  float: left;
  clear: both;
}

ul.link-list {
  font-family: sans-serif;
}
ul.link-list > li {
  list-style: none;
  margin: 0 0 1rem 0;
  display: inline-block;
  float: left;
  clear: both;
}
