<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  <meta charset="UTF-8">
  <meta name="description" content="{{siteTitle}}">
  <meta name="author" content="{{siteAuthor}}">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>{{siteTitle}}</title>
  <link rel="icon" type="image/png" href="/images/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="index">

  <header>
    <h1>Observations</h1>
    <p>
      <a href="{{baseUrl}}/atom.xml">atom</a>
    </p>
  </header>

  <aside>
    <ul class="link-list">
      <li>
        <p>Email</p><a href="mailto:email@acme.com">email@acme.com</a>
      </li>
      <li>
        <p>Github</p><a href="https://github.com/WhoMeNope">WhoMeNope</a>
      </li>
    </ul>
  </aside>

  <main>
    <h2>All Posts</h2>
    <ul class="post-list">
      {{#posts}}
      <li>
        <span class="date">{{date}}</span>
        <a href="{{url}}">
          <p>{{title}}</p>
        </a>
        <p>{{description}}</p>
      </li>
      {{/posts}}
    </ul>
  </main>

  {{>site/templates/footer.html}}

</body>
</html>
