<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  {{>site/templates/meta.html}}
  <title>{{siteTitle}}</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="index">

  <header>
    <a href="{{baseUrl}}"><h1>Observations</h1></a>
    <p>
      <a href="{{baseUrl}}/atom.xml">atom</a>
    </p>
  </header>

  <aside>
    <ul class="link-list">
      {{#authorEmail}}
      <li>
        <p>Email</p><a href="mailto:{{.}}">{{.}}</a>
      </li>
      {{/authorEmail}}
      {{#githubUser}}
      <li>
        <p>Github</p><a href="https://github.com/{{.}}">{{.}}</a>
      </li>
      {{/githubUser}}
    </ul>
  </aside>

  <main>
    <h2>All Posts</h2>
    <ul class="post-list">
      {{#posts}}
      <li>
        <a href="{{url}}">
          <span class="date">{{date}}</span>
          <p>{{title}}</p>
          <span>{{description}}</span>
        </a>
      </li>
      {{/posts}}
    </ul>
  </main>

  {{>site/templates/footer.html}}

</body>
</html>
