<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  {{>site/templates/meta.html}}

  <meta name="twitter:card" content="summary_large_image">
  {{#twitterHandle}}
  <meta name="twitter:site" content="@{{twitterHandle}}">
  <meta name="twitter:creator" content="@{{twitterHandle}}">
  {{/twitterHandle}}
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  {{#image}}
  <meta name="twitter:image" content="{{baseUrl}}/images/{{image}}">
  {{/image}}

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/syntax.css">
</head>
<body>

  <header>
    <span class="title">
      {{title}}
    </span>
    <br>

    {{#image}}
    <img class="post-image" src="/images/{{image}}">
    {{/image}}
    <br>
    {{#author}}
    <span class="byline">by {{author}}</span>
    {{/author}}
    <br>
    <span class="date">{{date}}</span>
    <br>
    <div class="metadata">
    </div>
    <div class="tags">
      {{#tags}}
      <span class="tag {{.}}">{{.}}</span>
      {{/tags}}
    </div>
  </header>

  <article>
    {{{content}}}
  </article>

  {{>site/templates/footer.html}}

<body>
</html>
